---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=authorization_code&code=4%2Fjc9NBs1COV-yFzCNwwemamCmT-2m9RMsvBApO5JK_kw.cko6M5yihG0d3oEBd8DOtND_T3fPkwI&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&client_id=1038373999845-h1rd8ke0912kqblh9t8mhu1lefipdqvl.apps.googleusercontent.com&client_secret=MOVJrAQdlwvmOPccLLx8Phwz
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.yQCrAQpyIlaky0iuyf-DFgrF7qUqwz0a61qMPalfm1CaW8DlJlkc18rTSPhPrDaPjvX6K1o1KkMeeg",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "refresh_token" : "1/2eE9ZsSLD7qQBA_-Bddarhb_tdByw8V4d2N3HyTOd_gMEudVrK5jSpoR30zcRFq6"
        }
  recorded_at: Tue, 25 Nov 2014 16:12:38 GMT
recorded_with: VCR 2.9.3
