---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=authorization_code&code=4%2FN2n1TLKQkGYYl_1WryDYQ-S38XHRBO8jVE57RKX5G-k.AqEWLmqCl8sf3oEBd8DOtNCnomvPkwI&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&client_id=1038373999845-h1rd8ke0912kqblh9t8mhu1lefipdqvl.apps.googleusercontent.com&client_secret=MOVJrAQdlwvmOPccLLx8Phwz
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.yQBAlFPV08S0Z7Tl4FII6Awy7Io4C2yOklOU26rYVbnuR_J7YlN0OWSaUO2lL8fIKuH_qIY94XHSUA",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "refresh_token" : "1/ABmh_9XcjXoTTXNVUq7UjpiphJW32LjaediJ11wN-ooMEudVrK5jSpoR30zcRFq6"
        }
  recorded_at: Tue, 25 Nov 2014 16:06:15 GMT
recorded_with: VCR 2.9.3
